/* 각각의 콘텐츠 페이지 스타일 
   - 여기 있는 css를 수정하면 해당 페이지 1개만 영향이 있음 
   대신에 선택자를 페이지에 제한되게 cnt_페이지명으로 시작해야 함 */



.visual.bg1{
   background-color: #FFFBEF;
   color: #1d1d1d;
}
.visual.bg2{
   background-color: #000;
   color: #fff;
}
.visual.bg3{
   background-color: #43564A;
   color: #fff;
}
.visual .inner{
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 200px 0 200px 138px;
}
.visual .inner a{
   display: block;
   width: 48.20%;
   height: 549px;
   position: relative;
   cursor: none !important;
}
.visual .inner a .photo{
   overflow: hidden;
}
.visual .inner a .photo.pc{
   position: absolute;
   left: 0;
   top: 0;
   width: 788px;
}
.visual .inner a .photo.mo{
   position: absolute;
   right: 0;
   bottom: 0;
   width: 167px;
}
.visual .inner a .photo img{
   width: 100%;
   height: 100%;
   object-fit: cover;
   vertical-align: top;
}



.visual .inner .explain{
   line-height: var(--line-height-tit);
   width: 45.06%;
}
.visual .inner .explain h2{
   font-size: 50px;
   font-weight: 500;
   padding: 40px 0;
   margin-bottom: 30px;
   border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}
.visual .inner .explain h2.cineq,
.visual .inner .explain h2.nonghyup{
   border-color: rgba(255, 255, 255, 0.5);
}
.visual .inner .explain > span{
   display: flex;
   justify-content: flex-end;
   padding-right: 20px;
   margin-bottom: 72px;
}
.visual .inner .explain ul{
   display: flex;
   flex-direction: column;
   gap: 12px 0;
   margin-left: 12px;
   font-size: 20px;
   line-height: var(--line-height-tit);
}
.visual .inner .explain ul li{
   display: flex;
   gap: 0 6px;
   align-items: center;
   padding-left: 18px;
   position: relative;
}
.visual .inner .explain ul li::before{
   content: "";
   position: absolute;
   left: 0;
   top: 50%;
   transform: translateY(-50%);
   width: 6px;
   height: 6px;
   background-color: rgba(29, 29, 29, 0.8);
   border-radius: 50%;
}
.visual .inner .explain ul li.cineq::before,
.visual .inner .explain ul li.nonghyup::before{
   background-color: rgba(255, 255, 255, 0.8);
}
.visual .inner .explain ul li span{
   margin-right: 6px;
}
.visual .inner .explain ul li .photo{
   overflow: hidden;
   width: 22px;
   height: 22px;
   border-radius: 5px;
}
.visual .inner .explain ul li .photo img{
   width: 100%;
   height: 100%;
   object-fit: cover;
   vertical-align: top;
}



.design .inner{
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.design .inner .box01{
   width: 26.05%;
   position: relative;
}
.design .inner .box01 .photo{
   width: 100%;
   height: 600px;
   overflow: hidden;
}
.design .inner .box01 .photo img{
   width: 100%;
   height: 100%;
   object-fit: cover;
   vertical-align: top;
   opacity: 0.4;
}
.design .inner .box01 h2{
   position: absolute; /* box01 기준 정렬 */
   right: -270px;
   top: 66px;
   font-family: "Cormorant Garamond", serif;
   font-size: 70px;
   line-height: var(--line-height-tit);
}
.design .inner .box02{
   width: 45.36%;
   height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}
.design .inner .box02 .color01{
   width: 100%;
   height: 310px;
}
.design .inner .box02 .color01.kumho{
   background-color: #FFFBEF;
}
.design .inner .box02 .color01.cineq{
   background-color: #FB233B;
}
.design .inner .box02 .color01.nonghyup{
   background-color: #F5F1E2;
}

.design .inner .box02 .text{
   display: flex;
   flex-direction: column;
   gap: 110px 0;
   margin-left: 80px;
}
.design .inner .box02 .text > ul{
   display: flex;
   gap: 0 150px;
}
.design .inner .box02 .text > ul.nonghyup{
   gap: 0 100px;
}
.design .inner .box02 .text ul li{
   display: flex;
   flex-direction: column;
   gap: 30px 0;
}
.design .inner .box02 .text ul li strong{
   font-size: 30px;
   font-weight: 500;
   line-height: var(--line-height-tit);
}
.design .inner .box02 .text ul li .color_list{
   display: flex;
   gap: 0 35px;
}
.design .inner .box02 .text ul li .color_list li{
   width: 50px;
   height: 50px;
   border-radius: 10px;
}
.design .inner .box02 .text ul li .color_list.kumho li{
   background-color: #FFFBEF;
}
.design .inner .box02 .text ul li .color_list.kumho li:nth-child(2){
   background-color: #F1DEC0;
}
.design .inner .box02 .text ul li .color_list.kumho li:nth-child(3){
   background-color: #FFE0AC;
}
.design .inner .box02 .text ul li .color_list.kumho li:nth-child(4){
   background-color: #ccc;
}
.design .inner .box02 .text ul li .color_list.kumho li:last-child{
   background-color: #1d1d1d;
}

.design .inner .box02 .text ul li .color_list.cineq li{
   background-color: #E60012;
}
.design .inner .box02 .text ul li .color_list.cineq li:nth-child(2){
   background-color: #FB233B;
}
.design .inner .box02 .text ul li .color_list.cineq li:nth-child(3){
   background-color: #141426;
}
.design .inner .box02 .text ul li .color_list.cineq li:nth-child(4){
   background-color: #ccc;
}
.design .inner .box02 .text ul li .color_list.cineq li:last-child{
   background-color: #fff;
   border: 1px solid rgba(0, 0, 0, 0.2);
}

.design .inner .box02 .text ul li .color_list.nonghyup li{
   background-color: #F5F1E2;
}
.design .inner .box02 .text ul li .color_list.nonghyup li:nth-child(2){
   background-color: #FFE0AC;
}
.design .inner .box02 .text ul li .color_list.nonghyup li:nth-child(3){
   background-color: #637C6C;
}
.design .inner .box02 .text ul li .color_list.nonghyup li:nth-child(4){
   background-color: #43564A;
}
.design .inner .box02 .text ul li .color_list.nonghyup li:last-child{
   background-color: #000;
}

.design .inner .box02 .text ul li.typography ul{
   display: flex;
   gap: 0 20px;
}
.design .inner .box02 .text ul li.typography ul li{
   position: relative;
}
.design .inner .box02 .text ul li.typography ul li::after{
   content: "";
   position: absolute;
   right: -10px;
   top: 50%;
   transform: translateY(-50%);
   width: 1px;
   height: 13px;
   background-color: rgba(61, 61, 61, 0.4);
}
.design .inner .box02 .text ul li.typography ul li:last-child::after{
   display: none;
}
.design .inner .box02 .text ul li span{
   font-size: 20px;
   line-height: var(--line-height-tit);
   color: #3d3d3d;
}
.design .inner .box02 .text ul li span.A2Z{
   font-family: var(--font-family-A2z);
}
.design .inner .box02 .text ul li span.goorm{
   font-family: var(--font-family-CloudSans);
}
.design .inner .box02 .text ul li.paperlogy{
   font-size: 20px;
   line-height: var(--line-height-tit);
   color: #3d3d3d;
}
.design .inner .box02 .text ul li.paperlogy{
   font-family: var(--font-family-Paperozi);
   font-size: 17px;
}
.design .inner .box02 .text ul li.garamond{
   font-family: "Cormorant Garamond", serif;
   font-size: 17px;
   line-height: var(--line-height-tit);
   color: #3d3d3d;
}
.design .inner .box02 .text ul.nonghyup li span{
   font-size: 17px;
}

.design .inner .box02 .color02{
   width: 100%;
   height: 110px;
}
.design .inner .box02 .color02.kumho{
   background-color: #FFE0AC;
}
.design .inner .box02 .color02.cineq{
   background-color: #141426;
}
.design .inner .box02 .color02.nonghyup{
   background-color: #43564A;
}



.overview .inner{
   height: 100vh;
   display: flex;
   justify-content: space-between;
   align-items: flex-start;
   background-color: #FFFBEF;
   padding: 92px 5.31% 0 5.31%;
   position: relative; /* photo 정렬 기준 */
}
.overview .inner.cineq{
   background-color: #141426;
}
.overview .inner.nonghyup{
   padding: 92px 4.69% 0 4.69%;
   background-color: #F5F1E2;
}
.overview .inner .text{
   height: 261px;
   margin-top: 60px;
   position: relative;
   z-index: 10;
}
.overview .inner .text.kumho{
   width: 32.98%;
}
.overview .inner .text.cineq{
   width:  32.46%;
   color: #fff;
}
.overview .inner .text.nonghyup{
   width: 33.80%;
}
.overview .inner .text h2{
   font-family: "Cormorant Garamond", serif;
   font-size: 70px;
   line-height: var(--line-height-tit);
}
.overview .inner .text p{
   position: absolute;
   right: 0;
   bottom: 0;
   width: 526px;
   padding-top: 12px;
   word-break: normal;
}
.overview .inner .text.cineq p{
   width: 517px;
}
.overview .inner .text.nonghyup p{
   width: 548px;
}
.overview .inner .text p::before{
   content: "";
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 1px;
   background-color: rgba(29, 29, 29, 0.7);
}
.overview .inner .text.cineq p::before{
   background-color: rgba(255, 255, 255, 0.5);
}
.overview .inner .photo{
   position: absolute; /* inner 기준 정렬*/
   left: 26.67%;
   bottom: 0;
   z-index: 2;
   width: 500px;
   height: 808px;
   overflow: hidden;
}
.overview .inner .photo::after{
   content: "";
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.25);
   backdrop-filter: blur(7px);
}
.overview .inner .photo.kumho::after{
   background-color: rgba(255, 255, 255, 0.25);
}
.overview .inner .photo img{
   width: 100%;
   height: 100%;
   object-fit: cover;
   vertical-align: top;
}
.overview .inner .box.kumho{
   margin-top: 182px;
   width: 41.78%;
}
.overview .inner .box.kumho ul{
   display: flex;
   flex-direction: column;
   gap: 107px 0;
}
.overview .inner .box.kumho ul li{
   height: 160px;
   background-color: rgba(221, 204, 188, 0.3);
   border-radius: 20px;
   display: flex;
   align-items: center;
   justify-content: center;
   position: relative;
}
.overview .inner .box.kumho ul li:last-child{
   background-color: rgba(221, 204, 188, 0.9);
}
.overview .inner .box.kumho ul li strong{
   position: absolute;
   left: 24px;
   top: -17px;
   font-size: 26px;
   font-weight: 500;
   line-height: var(--line-height-tit);
   color: #3d3d3d;
}
.overview .inner .box.kumho ul li:last-child strong{
   font-weight: var(--font-weight-B);
}
.overview .inner .box.kumho ul li span{
   font-size: 20px;
   line-height: var(--line-height-tit);
   color: #3d3d3d;
}
.overview .inner .box.kumho ul li:last-child span{
   font-weight: 600;
   color: #1d1d1d;
}
.overview .inner .box.cineq{
   position: absolute;
   right: 0;
   width: 52.60%;
   height: 100%;
   margin-top: 12px;
}
.overview .inner .box.cineq .circle{
   position: absolute;
   right: -27px;
   top: 0;
   width: 473px;
   height: 473px;
   background-color: #fff;
   border-radius: 50%;
   display: flex;
   flex-direction: column;
   justify-content: center;
}
.overview .inner .box.cineq .circle.as{
   padding: 0 72px 0 0;
   text-align: right;
}
.overview .inner .box.cineq .circle.to{
   right: auto;
   top: auto;
   bottom: 140px;
   left: 30px;
   z-index: 0;
   padding: 0 0 0 113px;
}
.overview .inner .box.cineq .circle strong{
   font-size: 24px;
   font-weight: 500;
   line-height: var(--line-height-tit);
   margin-bottom: 1em;
}
.overview .inner .box.cineq .circle.to strong{
   font-weight: var(--font-weight-B);
}
.overview .inner .box.cineq .circle span{
   line-height: var(--line-height-tit);
   padding-bottom: 1.41em;
   position: relative;
}
.overview .inner .box.cineq .circle.to span{
   font-weight: var(--font-weight-B);
}
.overview .inner .box.cineq .circle span::after{
   content: "";
   position: absolute;
   left: 0;
   bottom: 0;
   width: 100%;
   height: 1px;
   background-color: #141426;
}
.overview .inner .box.nonghyup{
   width: 43.51%;
   margin-top: 39px;
}
.overview .inner .box.nonghyup ul{
   display: grid;
   grid-template-columns: repeat(2, 348px);
   grid-template-rows: repeat(2, 345px);
   gap: 40px 63px;
}
.overview .inner .box.nonghyup ul li{
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 20px;
   background-color: rgba(221, 204, 188, 1);
   text-align: center;
   position: relative;
}
.overview .inner .box.nonghyup ul li:nth-child(2),
.overview .inner .box.nonghyup ul li:nth-child(3){
   background-color: rgba(221, 204, 188, 0.3);
}
.overview .inner .box.nonghyup ul li strong{
   position: absolute;
   left: 50%;
   top: -26px;
   transform: translateX(-50%);
   font-size: 40px;
   line-height: var(--line-height-tit);
}
.overview .inner .box.nonghyup ul li span{
   font-size: 20px;
   line-height: var(--line-height-tit);
}
.overview .inner .box.nonghyup ul li span > span.strong{
   font-weight: var(--font-weight-B);
}



.responsive{
   background: url(../images/contents/kumho_bg.jpg) no-repeat center center / cover;
   color: #fff;
   position: relative;
   z-index: -10;
}
.responsive.cineq{
   background-image: url(../images/contents/cineq_bg.jpg);
}
.responsive.nonghyup{
   background-image: url(../images/contents/nonghyup_bg.jpg);
}
.responsive::after{
   content: "";
   position: absolute;
   left: 0;
   top: 0;
   z-index: -5;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.25);
   backdrop-filter: blur(20px);
}
.responsive .inner{
   height: 100vh;
   display: flex;
   align-items: center;
}
.responsive .box{
   width: 70.31%;
   height: 584px;
   background-color: rgba(83, 91, 67, 0.8);
   position: relative;
}
.responsive .box.cineq{
   background-color: rgba(28, 30, 12, 0.8);
}
.responsive .box.nonghyup{
   background-color: rgba(42, 55, 39, 0.8);
}
.responsive .box .photo{
   overflow: hidden;
   position: absolute;
}
.responsive .box .photo.pc{
   width: 34.15%;
   height: 501px;
   left: 0;
   top: -80px;
}
.responsive .box .photo.mo{
   width: 22.22%;
   height: 398px;
   right: 34.81%;
   bottom: -70px;
}
.responsive .box .photo img{
   width: 100%;
   height: 100%;
   object-fit: cover;
   vertical-align: top;
}
.responsive .box .text{
   position: absolute;
   right: -29.04%;
   top: 105px;
   width: 59.33%;
}
.responsive .box .text h2{
   font-family: "Cormorant Garamond", serif;
   font-size: 50px;
   line-height: var(--line-height-tit);
   margin-bottom: 0.48em;
}
.responsive .box .text p{
   font-size: 20px;
   line-height: var(--line-height-tit);
   padding-top: 2em;
   position: absolute;
   right: 0;
   display: inline-block;
}
.responsive .box .text p::before{
   content: "";
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 1px;
   background-color: rgba(255, 255, 255, 0.4);
}



.rolling{
   position: absolute;  /* wrap 기준 정렬 */
   right: 40px;
   bottom: 40px;
   width: 110px;
   height: 110px;
   color: #fff;
   display: flex;
   align-items: center;
   justify-content: center;
   text-align: center;
   font-weight: var(--font-weight-B);
}
.rolling.kumho{
   color: #1d1d1d;
}
.rolling::after{
   content: "";
   position: absolute;
   left: 0;
   top: 0;
   width: 110px;
   height: 110px;
   background: url(../images/contents/rolling.png) no-repeat center center / cover;
   animation: rolling 20s linear infinite;
}
@keyframes rolling {
   0%{transform: rotate(360deg);}
}


.cursor{
   position: absolute;
   transform: translate(-50%, -50%);
   z-index: 1000;
   border-radius: 50%;
   font-size: 26px;
   text-align: center;
   width: 150px;
   height: 150px;
   line-height: 150px;
   pointer-events: none;
   display: none;
}
.cursor.on{
   display: block;
}
.cursor.kumho{
   color: #1d1d1d;
   background-color: #F1DEC0;
}
.cursor.cineq{
   color: #1d1d1d;
   background-color: #fff;
}
.cursor.nonghyup{
   color: #43564A;
   background-color: #F5F1E2;
}


.fp-warning, .fp-watermark{
   display: none;
}